<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
    <f:link.page additionalParams="{page: pagination.previousPageNumber}" addQueryString="true">prev</f:link.page>
</f:if>
<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
    <f:link.page additionalParams="{page: pagination.nextPageNumber}" addQueryString="true">next</f:link.page>
</f:if>

</html>
