<T3DataStructure>
    <ROOT>
        <type>array</type>
        <el>
            <settings.wall>
                <TCEforms>
                    <label>LLL:EXT:social_data/Resources/Private/Language/locallang_db.xlf:tx_socialdata_domain_model_wall</label>
                    <config>
                        <type>group</type>
                        <internal_type>db</internal_type>
                        <allowed>tx_socialdata_domain_model_wall</allowed>
                        <maxItems>1</maxItems>
                        <minItems>0</minItems>
                        <size>1</size>
                        <default>0</default>
                    </config>
                </TCEforms>
            </settings.wall>
            <settings.itemsPerPage>
                <TCEforms>
                    <label>LLL:EXT:social_data/Resources/Private/Language/locallang_be.xlf:plugin.itemsPerPage</label>
                    <config>
                        <type>input</type>
                        <size>20</size>
                        <default>10</default>
                    </config>
                </TCEforms>
            </settings.itemsPerPage>
            <settings.limit>
                <TCEforms>
                    <label>LLL:EXT:social_data/Resources/Private/Language/locallang_be.xlf:plugin.limit</label>
                    <config>
                        <type>input</type>
                        <size>20</size>
                        <default>30</default>
                    </config>
                </TCEforms>
            </settings.limit>
        </el>
    </ROOT>
</T3DataStructure>
