<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{post.datetime}">
    <div>{post.datetime -> f:format.date()}</div>
</f:if>
<f:if condition="{post.title}">
    <div>{post.title}</div>
</f:if>
<f:if condition="{post.content}">
    <div>{post.content}</div>
</f:if>
<f:if condition="{post.poster -> f:count()}">
    <f:then>
        <f:image image="{post.poster.0}" />
    </f:then>
    <f:else if="{post.posterUrl}">
        <img src="{post.posterUrl}" />
    </f:else>
</f:if>

</html>
